---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-llama-x-k8s-io-v1alpha1-llamastackdistribution
  failurePolicy: Fail
  name: llamastackdistribution.x-k8s.io
  rules:
  - apiGroups:
    - llama.x-k8s.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - llamastackdistributions
  sideEffects: None
